body {
  background: black;
  color: aliceblue;
  margin: 0;
  padding: 0;
}

.movie-app {
  padding: 20px;
}

.movie-row {
  display: flex;
  flex-direction: row;
  gap: 10px; /* ✅ 10px space between posters */
  overflow-x: auto;
  padding-bottom: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 

}
.movie-row::-webkit-scrollbar{
  display:none;
}

.movie-card {
  flex: 0 0 auto;
}

.movie-card img {
  height: 300px;
  border-radius: 8px;
}


.image-container {
  position: relative;
  transition:transform 0.2s;
}
.image-container:hover{
  cursor:pointer;
  transform: scale(1.1);
}


.image-container:hover .overlay{
  opacity: 1;
} 
.overlay{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom:0;
  font-size:20px;
  padding:20px;
  text-align:center;
}